img {
position:relative;
left:-25px;
top:-80px;
}
img#perfil{
left:1000px;
top:-490px;
border-radius:40px 40px 40px 40px
}
img#Apae{
left:-230px;
top:-720px;
border-radius:50px 50px 50px 50px;
}
img#Eviacam {
position:absolute;
top:70px;
left:1180px;
border-radius:40px 40px 40px 40px;
}
a#youtube{
color:red;
text-decoration: none;
}
a#bailão {
color:red;
text-decoration: none;
}
figcaption {
position:absolute;
top:-20px;
left:500px;
}
figcaption#Eviacam {
position:relative;
top:-550px;
left:1080px;
color:red;
}
figcaption a {
text-decoration: none;
}
h3#nome {
position:relative;
left:600px;
top:-5px;
}
h1#titulo {
left:-200px;
top:230px;
position:relative;
}
nav {
display:block;
}

nav ol {
top:25px;
left:200px;
position:absolute;
text-transform:uppercase;

}
nav li {
padding:5px;  
display:inline-block;
        background-color: #808000;
        border-radius:18px 2px 18px 2px;
        margin:0px;
        transition:background-color 1s;          
}
nav li:hover{
background-color:yellow;
}
nav li a:hover{
color:green;
    }
    nav a {
        text-decoration: none; 
        }
script#lampada {
position:absolute;
left:500px;
top:200px;
}
h1#lampada {
position:relative;
top:10px;
left:500px;
}
h1 {
color:red;
}
body {
background-color:#F5F5F5;
}
